
<p>Burlington? What there hell is there to do in Burlington?<br>
<a href="burlington">Glad you asked</a></p>
	
<p>Wait. Who are you? Someone's getting married? Do I know you people?<br>
<a href="about_us">Stumble here by accident?</a></p>

<p>Who else is going to be dressed especially nicely that day?<br>
<a href="wedding_party">We'd like you to meet our wedding party</a></p>
	
<p>Who are the awesome folks you're paying to put on this ridiculous show?<br>
<a href="echo">About the people responsible for this thing</a></p>
	
<p>Burlington. That sounds far. Can I stay someplace overnight?<br>
<a href="accomodations">Accomodations</a></p>
	