This is the home page. It will say some things about the wedding, maybe have a picture or two. 

Links:

<a href="directions.html.erb">Directions</a>
Accomodations
RSVP
Things to do in Burlington
About the venue
Registry