This is the home page. It will say some things about the wedding, maybe have a picture or two. 
<br><br>
Links:
<ul>
	<li>
		<a href="directions">Directions</a>
	</li>
	<li>
		<a href="accomodations">Accomodations</a>
	<li>
		RSVP
	</li>
	<li>
		<a href="burlington">Things to do in Burlington</a>
	</li>
	<li>
		<a href="echo">About the venue</a>
	</li>
	<li>
		<a href="registry">Registry</a>
	</li></ul>