This is the home page. It will say some things about the wedding, maybe have a picture or two. 
<br><br>
Links:
<ul>
	<li>
		<a href="directions">Directions</a>
	</li>
	<li>
		<a href="accomodations">Accomodations</a>
	<li>
		<a href="guests/index">RSVP</a>
	</li>
	<li>
		<a href="registry">Registry</a>
	</li>

	<li>
		<a href="guestbook">Guestbook</a>
	</li>

	<li>
		<a href="faq">FAQ</a>
	</li>

</ul>