This is the home page. It will say some things about the wedding, maybe have a picture or two. 
<br><br>
Links:
<ul>
	<li>
		<a href="directions">Directions</a>
	</li>
	<li>
Accomodations
	</li>
	<li>
RSVP
	</li>
	<li>
Things to do in Burlington
	</li>
	<li>
About the venue	</li>
	<li>
Registry
</li></ul>